.red{
  height: 200px;
  width: 200px;
  background-color: red;
  /*position: relative;
  left:400px;*/
  display: inline-block;
  position: relative;
  left: 400px;
}

.blue{
  height: 200px;
  width: 200px;
  background-color: blue;
  /*position: relative;
  bottom: 200px;*/
  display: inline-block;
  position: relative;
  right: 200px;
}

.yellow{
  height: 200px;
  width: 200px;
  background-color: yellow;
  /*position: relative;
  left: 200px;
  bottom: 400px;*/
  display: inline-block;
  position: relative;
  right: 200px;
}
